.fade-transform-enter-active,
.fade-transform-leave-active {
  transition: all 0.2s ease; 
}

.fade-transform-enter-from{
    opacity: 0;
    transform: translateX(-10px);
}
.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(10px);
}